#username, #password{
    width: 250px;
}
#submit{
    width: 150px;
}
.navbar{
    background-color: rgba(0,0,0,0.2) !important;
}
.nav-link, .navbar-text{
    color: white !important;
}
body {
    font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #D8D8D8;
    background-color: #272A33;
}
#places{
    /*display: grid;*/
    /*grid-gap: 24px 16px;*/
    display: flex;
}
.place-card{
    border-radius: 4px;
    text-align: center;
    width: 100%;
    display: flex;
    overflow: hidden;
    padding: 5px;
}

.place{
    background-color: #2b303d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 150px;
}
.counter{
    background-color: #303540;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 161px;
    height: 150px;
}
h1, h2, h3, h4, p{
    margin-top: 4px;
    margin-bottom: 0;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: "nudista-web",-apple-system,BlinkMacSystemFont,"Segoe UI",
    "Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.counter p{
    color: white;
    font-size: 29px;
    letter-spacing: 0.01em;
    font-weight: 700;
    font-family: "nudista-web",-apple-system,BlinkMacSystemFont,"Segoe UI",
    "Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    text-align: center;
}
tr, th, td{
    color:white;
}

.tournaments_banner{
    height: 245px;
    background-image: url(../files/challonge_fireball_dark_blue.svg);
    background-color: #252830;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right center;
    margin-bottom: 32px;
    position: relative;
    display: flex;
    align-items: center;
}

.tournament-container{
    padding-bottom: 5px;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}
.tournament-btn{
    flex: 1 40%;
}

.trophy-img{
    flex: 1 60%;
    margin-left: auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

p{
    margin: 0 0 10px;
}

.page-heading {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 300;
}

#create_tournament, .btn-sm {
    color: #fff;
    background-color: #FF7324;
    border-color: #FF7324;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 500;
    letter-spacing: 0.04em;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
}
.card-body{
    color: #4f4f4f !important;
    background: linear-gradient(to left, #9FA4C4, #BBF0F3);
    border-radius: 15px;
}
.gradient-custom-4 {
    color: #4f4f4f !important;
    width: 300px;
    background: #84fab0;
    background: -webkit-linear-gradient(to left, #FC575E, #F7B42C);
    background: linear-gradient(to left, #FC575E, #F7B42C)
}